<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>场馆审批</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/css/toastr.css}"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>
<body>
<div th:replace="common/adminNav :: adminNav"></div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%;padding-bottom: 1%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">注册审批</span>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div th:if="${#lists.size(approveBean.registers)==0}">暂无注册审批</div>
        <div class="panel panel-default" th:each="item:${approveBean.registers}">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne" th:text="${item.venueName}">
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row" style="padding-top: 1%">
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">登录码</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" th:text="${item.loginCode}"></p>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">注册邮箱</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" th:text="${item.email}">admin@tyg.com</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">场馆地址</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" th:text="${item.address}">南京市汉口路22号</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <div th:id="'registerButtonGroup'+${item.permissionId}">
                            <button type="button" class="btn btn-info"
                                    th:onclick="'javascript:processPermission(\'registerButtonGroup\',\'registerMsg\',true,'+${item.permissionId}+')'">
                                通过
                            </button>
                            <button type="button" class="btn btn-default"
                                    th:onclick="'javascript:processPermission(\'registerButtonGroup\',\'registerMsg\',false,'+${item.permissionId}+')'">
                                拒绝
                            </button>
                        </div>

                        <div th:id="'registerMsg'+${item.permissionId}" style="margin-left: 45%;margin-right: 45%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%;padding-bottom: 1%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">修改审批</span>
    </div>
    <div class="panel-group" id="seatsSection" role="tablist" aria-multiselectable="true">
        <div th:if="${#lists.size(approveBean.modifications)==0}">暂无修改审批</div>
        <div class="panel panel-default" th:each="modifyItem: ${approveBean.modifications}">
            <div class="panel-heading" role="tab" id="seatsHeadingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#seatsSection" href="#seatsCollapseOne"
                       aria-expanded="true" aria-controls="collapseOne" th:text="${modifyItem.venueName}">

                    </a>
                </h4>
            </div>
            <div id="seatsCollapseOne" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="seatsHeadingOne">
                <div class="panel-body">
                    <div class="row" style="padding-top: 1%">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">原地址</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" th:text="${modifyItem.oldAddress}"></p>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">新地址</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" th:text="${modifyItem.newAddress}"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <div th:id="'modifyButtonGroup'+${modifyItem.permissionId}">
                            <button type="button" class="btn btn-info"
                                    th:onclick="'javascript:processPermission(\'modifyButtonGroup\',\'modifyMsg\',true,'+${modifyItem.permissionId}+')'">
                                通过
                            </button>
                            <button type="button" class="btn btn-default"
                                    th:onclick="'javascript:processPermission(\'modifyButtonGroup\',\'modifyMsg\',false,'+${modifyItem.permissionId}+')'">
                                拒绝
                            </button>
                        </div>
                    </div>
                    <span th:id="'modifyMsg'+${modifyItem.permissionId}" style="margin-left: 45%;margin-right: 45%"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "3000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    function processPermission(buttonGroupName, msgName, isApprove, permissionId) {
        $.ajax({
            type: 'POST',
            url: '/admin/approve.action',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                permissionId: permissionId,
                isApprove: isApprove
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    $('#' + buttonGroupName + permissionId).css('display', 'none')
                    $('#' + msgName + permissionId).html(data.resultMessage)
                    toastr.success(data.resultMessage)
                }
            }
        })
    }
</script>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>

</body>
</html>