<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>平台统计</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <!-- echarts -->
    <script th:src="@{~/js/echarts.min.js}"></script>
    <script th:src="@{~/js/macarons.js}"></script>
</head>
<body>
<div th:replace="common/adminNav :: adminNav"></div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%;padding-bottom: 1%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">数值统计</span>
    </div>

    <table class="table">
        <tr>
            <th>统计量</th>
            <th>数值</th>
        </tr>

        <tr th:each="row: ${statisticList}">
            <td th:text="${row.name}"></td>
            <td th:text="${row.value}"></td>
        </tr>
    </table>

</div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%;padding-bottom: 1%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">趋势占比统计</span>
    </div>

    <div style="padding-top: 10px">
        <div class="row">
            <div id="venueRevenueRank-chart"
                 style="height: 500px;width: 600px;margin-left: auto;margin-right: auto"></div>
            <div id="showPlanTypePie-chart"
                 style="height: 500px;width: 600px;margin-left: auto;margin-right: auto"></div>
            <div id="userOrderNumRank-chart"
                 style="height: 500px;width: 600px;margin-left: auto;margin-right: auto"></div>
            <div id="ticketOrderTypePercentPie-chart"
                 style="height: 500px;width: 600px;margin-left: auto;margin-right: auto"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var venueRevenueRank = echarts.init(document.getElementById('venueRevenueRank-chart'), 'macarons')
    var venueRevenueRankOption = {
        title: {
            text: '场馆累计收益排行',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            data: [[${venueRevenueRankXLegend}]]
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [[${venueRevenueRankYLegend}]],
            type: 'line',
            smooth: true
        }]
    }
    venueRevenueRank.setOption(venueRevenueRankOption)


    var showPlanTypePie = echarts.init(document.getElementById('showPlanTypePie-chart'), 'macarons')
    var showPlanTypePieOption = {
        title: {
            text: '演出类型占比统计',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        series: [
            {
                name: '演出类型',
                type: 'pie',
                radius: '55%',
                center: ['40%', '50%'],
                data: [[${showPlanTypePie}]],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    }
    showPlanTypePie.setOption(showPlanTypePieOption)

    var userOrderNumRank = echarts.init(document.getElementById('userOrderNumRank-chart'), 'macarons')
    var userOrderNumRankOption = {
        title: {
            text: '用户订单排行',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            data: [[${userOrderNumRankXLegend}]]
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [[${userOrderNumRankYLegend}]],
            type: 'line',
            smooth: true
        }]
    }
    userOrderNumRank.setOption(userOrderNumRankOption)


    var ticketOrderTypePercentPie = echarts.init(document.getElementById('ticketOrderTypePercentPie-chart'), 'macarons')
    var ticketOrderTypePercentPieOption = {
        title: {
            text: '全站订单类型统计图',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        series: [
            {
                name: '订单类型',
                type: 'pie',
                radius: '55%',
                center: ['40%', '50%'],
                data: [[${ticketOrderTypePercentPie}]],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    }
    ticketOrderTypePercentPie.setOption(ticketOrderTypePercentPieOption)
</script>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>

</body>
</html>