<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>检票</title>

    <!--<link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>-->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/fixed-footer.css" rel="stylesheet" type="text/css"/>
    <!--<script th:src="@{~/js/html5shiv.min.js}"></script>-->
    <!--<script th:src="@{~/js/respond.min.js}"></script>-->
    <!--<script th:src="@{~/js/jquery.js}"></script>-->
    <!--<script th:src="@{~/js/bootstrap.min.js}"></script>-->
    <script src="../../static/js/html5shiv.min.js"></script>
    <script src="../../static/js/respond.min.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="common/venueNav :: venueNav"></div>

<div class="container" style="text-align: center;">
    <div style="padding-top: 12%">
        <h1>Tickets<br></br>
            <small>快速检票入场</small>
        </h1>
        <div style="margin-left: 30%;margin-right: 30%;padding-top: 3%">
            <form>
                <div class="form-group">
                    <label for="inputTicketNumber">票号</label>
                    <input type="text" class="form-control" id="inputTicketNumber" placeholder="请输入票号"/>
                </div>

                <button type="submit" class="btn btn-info" style="margin-top: 5%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
</div>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>

</body>
</html>