<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>创建新计划</title>


    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/bootstrap-datetimepicker.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/css/toastr.css}"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{~/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>
<body>
<div th:replace="common/venueNav :: venueNav"></div>

<div class="container">
    <div class="alert alert-info" role="alert" style="margin-top: 1%">
        <h3>创建须知</h3>
        <ol>
            <li>创建新的演出计划时，需根据场馆座位设定各区域票价，每个区域的票价不可相同，且票价设置完成后不可修改。</li>
            <li>创建新的演出计划时，必须填写演出的名称、时间、地点、演出简介和注意事项，并上传演出海报，以上信息一旦提交，不可修改。</li>
            <li>创建演出计划完成后，将不再允许修改演出的任何信息，请务必在检查后提交演出计划。</li>
            <li>创建演出计划完成后，将直接开启Tickets购票通道。Tickets平台将收取占收入的20%的第三方费用。</li>
        </ol>
    </div>

    <div style="text-align: center;margin-top:2%;margin-bottom: 2%;color: #004e6d">
        <h1>创建新活动</h1>
    </div>

    <form id="newPlanForm" role="form" class="form-horizontal" enctype="multipart/form-data">

        <div class="form-group">
            <label for="inputEventName" class="col-sm-2 control-label">活动名称</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEventName" placeholder="请输入活动名称" name="eventName"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventStartTime" class="col-sm-2 control-label">活动开始时间</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEventStartTime" size="16" type="text" value="" readonly="readonly"
                       placeholder="活动开始时间"
                       style="background-color: white;" name="startTime"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventEndTime" class="col-sm-2 control-label">活动结束时间</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEventEndTime" size="16" type="text" value="" readonly="readonly"
                       placeholder="活动结束时间"
                       style="background-color: white;" name="endTime"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventVenue" class="col-sm-2 control-label">活动场馆</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEventVenue" th:placeholder="${venueInfoBean.venueName}"
                       disabled="disabled" name="venueName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEventAddress" class="col-sm-2 control-label">活动地点</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEventAddress"
                       th:placeholder="${venueInfoBean.venueAddress}"
                       disabled="disabled" name="location"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">活动类型</label>
            <div class="col-sm-8">
                <!--<input type="text" class="form-control" id="inputEventType" placeholder="请输入活动类型"/>-->
                <label class="radio-inline">
                    <input type="radio" name="type" id="concertType"
                           value="演唱会"/>演唱会
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="liveType"
                           value="音乐现场"/>音乐现场
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="dramaType"
                           value="戏剧"/>戏剧
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="musicalType"
                           value="音乐会"/>音乐会
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="danceType"
                           value="歌舞剧"/>歌舞剧
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="operaType"
                           value="话剧"/>话剧
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventPoster" class="col-sm-2 control-label">活动海报</label>
            <div class="col-sm-8">
                <input id="inputEventPoster" name="poster" type="file" accept="image/*"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventInfo" class="col-sm-2 control-label">活动简介</label>
            <div class="col-sm-8">
                <textarea id="inputEventInfo" class="form-control" placeholder="请输入活动简介"
                          style="height: 200px" name="description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventWarning" class="col-sm-2 control-label">活动须知</label>
            <div class="col-sm-8">
                <textarea id="inputEventWarning" class="form-control" placeholder="请输入活动须知"
                          style="height: 200px" name="notice"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEventSeatPrice" class="col-sm-2 control-label">价位安排</label>
            <div class="col-sm-4" id="inputEventSeatPrice">
                <div th:each="seatInfoBean:${seatInfoBeans}">
                    <div class="input-group" style="margin-top: 1%">
                        <span class="input-group-addon" th:id="sectionName+${seatInfoBeanStat.index}"
                              th:text="${seatInfoBean.section}"></span>
                        <input type="text" class="form-control" placeholder="请输入价格"
                               th:id="sectionPrice+${seatInfoBeanStat.index}"/>
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div style="text-align: center; margin-top: 2%">
        <button type="submit" class="btn btn-info" style="margin-right: 2%"
                th:onclick="'javascript:postForm('+${#lists.size(seatInfoBeans)}+')'">确认创建
        </button>
        <button type="button" class="btn btn-default" onclick="returnToShowPlan()">取消
        </button>
    </div>
</div>

<script th:inline="javascript">
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "3000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    var newDate = new Date();
    var t = newDate.toJSON();

    $('#inputEventStartTime').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:00',
        language: 'zh-CN',
        weekStart: 1,
        autoclose: 1,
        forceParse: 0,
        startDate: new Date(t)
    }).on('click', function () {
        $('#inputEventStartTime').datetimepicker('setEndDate', $('#inputEventEndTime').val())
    });
    ;

    $('#inputEventEndTime').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:00',
        language: 'zh-CN',
        weekStart: 1,
        autoclose: 1,
        forceParse: 0
    }).on('click', function () {
        $('#inputEventEndTime').datetimepicker('setStartDate', $('#inputEventStartTime').val())
    });

    function postForm(sectionNum) {
        console.log(sectionNum)
        var form = $('#newPlanForm')[0];

        var data = new FormData(form);

        var prices = {}
        for (var i = 0; i < sectionNum; i++) {
            var name = "sectionName" + i
            var price = "sectionPrice" + i
            var sectionName = document.getElementById(name).innerText
            var sectionPrice = document.getElementById(price).value
            console.log(sectionName + " " + sectionPrice)
            prices[sectionName] = sectionPrice
        }

        data.append("prices", JSON.stringify(prices))
        data.append("venueName", $("#inputEventVenue").attr('placeholder'))
        data.append("location", $("#inputEventAddress").attr('placeholder'))

        $.ajax({
            url: "/venue/createNewPlan.action",
            type: "POST",
            data: data,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returnData) {
                if (returnData.resultCode === 'error') {
                    toastr.warning(returnData.resultMessage)
                } else {
                    toastr.success(returnData.resultMessage)
                    window.location.href = '/venue/showPlan'
                }
            }
        })
    }

    function returnToShowPlan() {
        window.location.href = '/venue/showPlan'
    }
</script>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>