<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>演出计划</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/text-hidden.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/owl.carousel.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/owl.theme.default.css}" type="text/css" rel="stylesheet">

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/owl.carousel.js}"></script>

    <style>
        .owl-nav .owl-prev {
            float: left;
            /*margin-right: 80%;*/
            color: #379ebe;
        }

        .owl-nav .owl-next {
            float: right;
            /*margin-left: 80%;*/
            color: #379ebe;
        }
    </style>
</head>
<body>
<div th:replace="common/venueNav :: venueNav"></div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">近期演出</span>
    </div>

    <div class="owl-carousel" style="margin-top: 1%">
        <div th:each="showPlanBriefBean : ${showPlanBriefBeans}" class="thumbnail">
            <!--<a href="#" class="thumbnail">-->
            <img th:src="${showPlanBriefBean.posterUrl}" class="img-responsive">
            <div class="caption">
                <h5 class="text-hidden" th:title="${showPlanBriefBean.showName}"
                    th:text="${showPlanBriefBean.showName}"></h5>
                <p style="font-size: x-small" th:text="${showPlanBriefBean.time}"></p>
                <span th:if="${showPlanBriefBean.status}=='无票'" class="label label-danger">已售罄</span>
                <span th:if="${showPlanBriefBean.status}=='有票'" class="label label-success">售票中</span>
            </div>
            <!--</a>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel(
            {
                loop: false,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        rewind: false
                    }
                }
            }
        );
    });
</script>

<div class="container">
    <div style="font-size: larger;padding-top: 2%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">新的计划</span>
    </div>

    <div class="alert alert-info" role="alert" style="margin-top: 1%">
        <h3>创建须知</h3>
        <ol>
            <li>创建新的演出计划时，需根据场馆座位设定各区域票价，每个区域的票价不可相同，且票价设置完成后不可修改。</li>
            <li>创建新的演出计划时，必须填写演出的名称、时间、地点、演出简介和注意事项，并上传演出海报，以上信息一旦提交，不可修改。</li>
            <li>创建演出计划完成后，将不再允许修改演出的任何信息，请务必在检查后提交演出计划。</li>
            <li>创建演出计划完成后，将直接开启Tickets购票通道。Tickets平台将收取占收入的10%的第三方费用。</li>
        </ol>
    </div>
    <a type="button" class="btn btn-default" th:href="@{/venue/newPlan}" style="margin-left: 1%">添加新计划</a>

</div>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>