<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>现场购票</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/jquery.seat-charts.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/css/toastr.css}"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/jquery.seat-charts.min.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>
<body>
<div th:replace="common/venueNav :: venueNav"></div>

<div class="container" style="text-align: center">
    <div style="padding-top: 6%">
        <h1>Tickets<br/>
            <small>选座购买</small>
        </h1>

        <div style="margin-left: 20%;margin-right: 20%;padding-top: 2%">
            <hr color="#5bc0de"/>

            <h3 style="margin-top: 6%" th:text="${curShowBrief.showName}"><br/></h3>

            <br/>

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" style="width: 100%"><a href="#chooseSeats"
                                                                                  aria-controls="chooseSeats" role="tab"
                                                                                  data-toggle="tab">选座购买</a></li>
                    <!--<li role="presentation" style="width: 50%"><a href="#allocateSeats" aria-controls="allocateSeats"-->
                    <!--role="tab" data-toggle="tab">立即购买</a></li>-->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- 选座 -->
                    <div role="tabpanel" class="tab-pane active" id="chooseSeats">
                        <form style="margin-left: 12%;margin-right: 12%;margin-top: 5%" class="form-horizontal">
                            <div class="form-group">
                                <label>座位购买须知</label>
                                <br/>
                                <div style="text-align: left">
                                    <p>每单限购票6张，且只允许购买同价票，若为会员，输入会员邮箱将为用户积分</p>
                                    <p>现场购票后不能修改座位，不能退票</p>
                                </div>
                            </div>

                            <!-- Button trigger modal -->


                            <!-- Modal -->
                            <div class="modal fade" id="seat-chart" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="seat-map" style="margin-left: 120px;margin-top: 20px"></div>
                                            <div id="legend-container"
                                                 style="margin-left: 220px;margin-right: 220px"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="confirmChosenButton" type="button" class="btn btn-primary">确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>座位价格</label>
                                <br/>

                                <div class="btn-group" data-toggle="buttons">
                                    <div class="btn btn-default"
                                         th:each="chooseSeatBean : ${chooseSeatBean.sectionSeat}"
                                         th:onclick="'javascript:clickRadio(this,'+${chooseSeatBeanStat.index}+')'"
                                         th:id="'outerId'+${chooseSeatBeanStat.index}">
                                        <input type="radio" name="chosenSeatsPrice"
                                               th:id="'seatPrice'+${chooseSeatBeanStat.index}"
                                               autocomplete="off" th:value="${chooseSeatBean.key}"
                                               th:text="${chooseSeatBean.key}"/>
                                        <input th:id="'hidden'+${chooseSeatBeanStat.index}"
                                               type="hidden"
                                               th:value="${chooseSeatBean.value}"
                                               name="chosenSeatsArrangment"
                                        />
                                    </div>
                                </div>
                            </div>

                            <br/>

                            <div class="form-group">
                                <label>已选座位</label>
                                <div id="chosenSection"></div>
                                <div id="chosenSeats"></div>
                            </div>

                            <div class="form-group" style="font-size: larger">
                                <label>当前总价: </label>
                                ¥ <span id="chosenTotal">0</span>
                            </div>

                            <div class="form-group" style="">
                                <label>会员邮箱: </label>
                                <input id="memberEmail" type="email" class="form-control" placeholder="会员邮箱"/>
                            </div>

                            <div>* 现场购票，Tickets会员将享受对应会员
                                <a tabindex="0" id="levelPopover" type="button" role="button"
                                   data-toggle="popover">
                                    等级优惠
                                </a>
                            </div>


                            <a role="button"
                               class="btn btn-success"
                               style="margin-top: 2%"
                               th:onclick="'javascript:submitSeats('+${curShowBrief.venueId}+','+${curShowBrief.id}+')'">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认选座&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                        </form>

                    </div>
                </div>

            </div>
            <hr style="margin-top: 6%"/>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $("#levelPopover").popover({
        placement: 'right',
        title: '会员等级优惠',
        trigger: 'focus',
        html: true,
        container: 'body',
        content: '<table class="table">\n' +
        '    <tr>\n' +
        '        <th>会员等级</th>\n' +
        '        <th>享受折扣</th>\n' +
        '    </tr>\n' +
        '    <tr>\n' +
        '        <td>会员一级</td>\n' +
        '        <td>0.95</td>\n' +
        '    </tr>\n' +
        '    <tr>\n' +
        '        <td>会员二级</td>\n' +
        '        <td>0.9</td>\n' +
        '    </tr>\n' +
        '    <tr>\n' +
        '        <td>会员三级</td>\n' +
        '        <td>0.85</td>\n' +
        '    </tr>\n' +
        '    <tr>\n' +
        '        <td>会员四级</td>\n' +
        '        <td>0.8</td>\n' +
        '    </tr>\n' +
        '    <tr>\n' +
        '        <td>会员五级</td>\n' +
        '        <td>0.75</td>\n' +
        '    </tr>\n' +
        '</table>'
    })

    $(document).on('hidden.bs.modal', function (e) {
        $(e.target).removeData('bs.modal');
    });

    function setModalContent(price, content, columns, rows) {
        console.log(content)
        document.getElementById("myModalLabel").innerHTML = '座位表 - 票价' + price + '元'
        $('#seat-chart').modal('show')
        var chosenCount = 0;
        var sc;

        sc = $('#seat-map').seatCharts({
            map: content,
            naming: {
                top: true,
                left: true,
                columns: columns,
                rows: rows
            },
            seats: {
                a: {},
                b: {},
                c: {}
            },
            legend: {
                items: [
                    ['a', 'available', '可选'],
                    ['b', 'selected', '已选'],
                    ['c', 'unavailable', '不可选']
                ]
            },
            click: function () {
                if (this.status() == 'available') {
                    console.log(chosenCount)
                    if (chosenCount === 6) {
                        return this.style();
                    }
                    //do some stuff, i.e. add to the cart
                    chosenCount += 1
                    return 'selected';
                } else if (this.status() == 'selected') {
                    chosenCount -= 1;
                    //seat has been vacated
                    return 'available';
                } else if (this.status() == 'unavailable') {
                    //seat has been already booked
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        })

        sc.find('c').status('unavailable')

        $('#confirmChosenButton').on('click', function () {
            var seats = sc.find('selected').seatIds
            var output = ''
            for (j = 0, len = seats.length; j < len; j++) {
                var splited = seats[j].split('_')
                output += (splited[0] + '排' + splited[1] + '座')
                if (j != len - 1) {
                    output += ', '
                }
            }
            document.getElementById('chosenSeats').innerText = output
            $('#seat-chart').modal('hide')
            $('.seatCharts-row').remove();
            $('.seatCharts-legendItem').remove();
            $('#seat-map,#seat-map *').unbind().removeData();

            var chosenPrice = parseInt($("input[name='chosenSeatsPrice']:checked").val())
            var totalPrice = chosenPrice * seats.length
            $('#chosenTotal').text(totalPrice)
        })
    };

    function clickRadio(obj, index) {
        var priceSection = [[${chooseSeatBean.priceSection}]]
        $("#chosenSection").text(priceSection[index])

        var price = $("#" + obj.id + " input[name='chosenSeatsPrice']").val()

        var content = $("#" + obj.id + " input[name='chosenSeatsArrangment']").val()
        var contentArray = content.substring(1, content.length - 1).replace(/\s+/g, "").split(',')

        var rows = []
        for (var j = 0; j < contentArray.length; j++) {
            rows.push('' + (j + 1))
        }

        var cols = []
        for (var j = 0; j < contentArray[0].length; j++) {
            cols.push('' + (j + 1))
        }

        setModalContent(price, contentArray, cols, rows)
    }
</script>

<script th:inline="javascript">
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "3000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    $("input[name='seatsPrice']").click(function () {
        var seatsPrice = parseInt($(this).val())
        var seatsNum = parseInt($("#seatsNum").val())
        var totalPrice = seatsPrice * seatsNum
        $("#currentTotal").text(totalPrice)
    })

    $("#spinner")
        .spinner('delay', 200) //delay in ms
        .spinner('changing', function (e, newVal, oldVal) {
            var seatsPrice = parseInt($("input[name='seatsPrice']:checked").val())
            var seatsNum = newVal
            var totalPrice = seatsPrice * seatsNum
            $("#currentTotal").text(totalPrice)

        });

    function submitSeats(venueId, showPlanId) {
        $.ajax({
            url: '/venue/offlineOrder.action',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                showPlanId: showPlanId,
                venueId: venueId,
                totalPrice: $("#chosenTotal").text(),
                chosenSeats: $("#chosenSeats").text(),
                email: $("#memberEmail").val(),
                section: $("#chosenSection").text()
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success(data.resultMessage)
                    window.location.href = '/venue/spotTickets?showId=' + showPlanId
                }
            }
        })
    }
</script>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>

</body>
</html>