<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>场馆信息</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/text-hidden.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/css/toastr.css}"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>

</head>
<body>
<div th:replace="common/venueNav :: venueNav"></div>

<div class="container">
    <div style="font-size: larger;padding-top: 2%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">场馆信息</span>
    </div>

    <div class="row" style="padding-top: 1%">
        <div class="col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-hidden">场馆名称</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${venueInfoBean.venueName}">南京太阳宫</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">信息审批</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:if="${venueInfoBean.editPermit}">已通过&nbsp;&nbsp;<i
                                class="glyphicon glyphicon-ok"
                                style="color: green"></i></p>
                        <p class="form-control-static" th:unless="${venueInfoBean.editPermit}">未通过&nbsp;&nbsp;<i
                                class="glyphicon glyphicon-remove" style="color: red"></i></p>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">注册邮箱</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${venueInfoBean.registerEmail}">admin@tyg.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">登录码</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${venueInfoBean.loginCode}">1234567</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="cursor: pointer" data-toggle="modal"
                           data-target="#modifyLocationModal" th:if="${venueInfoBean.venueAddress!=null}">场馆地址</label>
                    <label class="col-sm-4 control-label" th:if="${venueInfoBean.venueAddress==null}">场馆地址</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-hidden" th:if="${venueInfoBean.venueAddress!=null}"
                           th:text="${venueInfoBean.venueAddress}" id="venueLocation">南京市汉口路22号&nbsp;&nbsp;
                        </p>
                        <p class="form-control-static" th:if="${venueInfoBean.venueAddress==null}"
                           id="venueLocation_empty">暂未设置地址，请设置&nbsp;&nbsp;<i style="cursor: pointer"
                                                                             class="glyphicon glyphicon-wrench"
                                                                             data-toggle="modal"
                                                                             data-target="#modifyLocationModal"></i>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">密码</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">********&nbsp;&nbsp;<i style="cursor: pointer"
                                                                              class="glyphicon glyphicon-wrench"
                                                                              data-toggle="modal"
                                                                              data-target="#modifyVenuePassModal"></i>
                        </p>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="modifyVenuePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form style="margin-left: 20%;margin-right: 20%">
                    <div class="form-group">
                        <label for="inputVenueOldPassword">旧密码</label>
                        <input type="password" class="form-control" id="inputVenueOldPassword" placeholder="请输入旧密码">
                    </div>
                    <div class="form-group">
                        <label for="inputVenueNewPassword">新密码</label>
                        <input type="password" class="form-control" id="inputVenueNewPassword" placeholder="请输入新密码">
                    </div>

                    <div class="form-group">
                        <label for="confirmVenueNewPassword">确认新密码</label>
                        <input type="password" class="form-control" id="confirmVenueNewPassword"
                               placeholder="请再输入一次新密码">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" onclick="modifyPassword()">确认修改</button>
            </div>
        </div>
    </div>
</div>

<!-- Location Modal -->
<div class="modal fade" id="modifyLocationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modifyLocationModalTitle">修改地址</h4>
            </div>
            <div class="modal-body">
                <form style="margin-left: 20%;margin-right: 20%">
                    <div class="form-group">
                        <label for="inputNewLocation">新地址</label>
                        <input type="text" class="form-control" id="inputNewLocation"
                               th:placeholder="${venueInfoBean.venueAddress}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info"
                        th:onclick="'javascript:modifyAddress('+${venueInfoBean.id}+','+'\''+${venueInfoBean.venueAddress}+'\')'">
                    确认修改
                </button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "3000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    function modifyPassword() {
        $.ajax({
            type: 'POST',
            url: '/venue/modifyPassword.action',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                oldPassword: $("#inputVenueOldPassword").val(),
                newPassword: $("#inputVenueNewPassword").val(),
                confirmPassword: $("#confirmVenueNewPassword").val()
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success(data.resultMessage)
                    $("#modifyVenuePassModal").modal("hide")
                    $("#inputVenueOldPassword").val('')
                    $("#inputVenueNewPassword").val('')
                    $("#confirmVenueNewPassword").val('')
                }
            }
        })
    };

    function modifyAddress(id, ori_content) {
        console.log(id)
        console.log(ori_content)
        $.ajax({
            type: 'POST',
            url: '/venue/modifyAddress.action',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                id: id,
                newAddress: $("#inputNewLocation").val()
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success(data.resultMessage)
                    $("#modifyLocationModal").modal("hide")

                    var newVal = $("#inputNewLocation").val()

                    if (ori_content === 'null') {
                        document.getElementById("venueLocation_empty").innerHTML = newVal
                    } else {
                        document.getElementById("venueLocation").innerHTML = newVal
                    }
                    $("#inputNewLocation").attr('placeholder', newVal)
                    $("#inputNewLocation").val('')
                }
            }
        })
    }
</script>

<!-- 上传座位信息 -->
<div class="container">
    <div style="font-size: larger;padding-top: 2%">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: #116e8a"></span>
        <span class="active" style="color: #349dbd">座位信息&nbsp;&nbsp;<i style="cursor: pointer"
                                                                       class="glyphicon glyphicon-wrench"
                                                                       data-toggle="modal"
                                                                       data-target="#resetSeatsModal"></i></span>
    </div>

    <div class="alert alert-info" role="alert" style="margin-top: 1%">
        <h4>座位修改须知</h4>
        <ol>
            <li>在添加演出信息时，要求座位各区票价相同，各场馆须根据此要求合理安排座位表。</li>
            <li>修改座位信息后需等待Tickets经理审核，若该场馆仍存在「售票中」或「未结束」的演出，Tickets将不会通过您的修改请求，请确保场馆在没有演出时提交请求。</li>
        </ol>
    </div>
    <div style="text-align: center;font-size: larger" th:if="${#lists.isEmpty(seatsInfo)}">暂无座位信息</div>
    <div class="panel panel-default" style="margin-left:2%;margin-right: 10%;margin-top: 2%"
         th:unless="${#lists.isEmpty(seatsInfo)}">
        <table class="table" id="showSeatsTable">
            <tr>
                <th>区号</th>
                <th>排数</th>
                <th>列数</th>
            </tr>

            <tr th:each="sectionInfo: ${seatsInfo}">
                <td th:text="${sectionInfo.section}"></td>
                <td th:text="${sectionInfo.row}"></td>
                <td th:text="${sectionInfo.col}"></td>
            </tr>
        </table>
    </div>
</div>

<!-- Seats Modal -->
<div class="modal fade" id="resetSeatsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="resetSeatsModalTitle">重置座位表</h4>
            </div>
            <div class="modal-body">
                <table id="resetSeatTable" class="table">
                    <tr>
                        <th>区号</th>
                        <th>排数</th>
                        <th>列数</th>
                        <th>操作</th>
                    </tr>

                </table>
                <button id="addBtn" class="btn btn-default">增加</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info"
                        th:onclick="'javascript:submitSeats('+${venueInfoBean.id}+')'">确认重置
                </button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#addBtn").click(function () {
            var _len = $("#resetSeatTable tr").length;
            $("#resetSeatTable").append("<tr id=" + _len + ">"
                + "<td><input type='text' name='section" + _len + "' id='section" + _len + "' /></td>"
                + "<td><input type='text' name='row" + _len + "' id='row" + _len + "' /></td>"
                + "<td><input type='text' name='col" + _len + "' id='col" + _len + "' /></td>"
                + "<td><a href=\'#\' onclick=\'deltr(" + _len + ")\'>删除</a></td>"
                + "</tr>");
        })
    })
    var deltr = function (index) {
        var _len = $("#resetSeatTable tr").length;
        $("tr[id='" + index + "']").remove();//删除当前行
        for (var i = index + 1, j = _len; i < j; i++) {
            var nextSectionVal = $("#section" + i).val();
            var nextRowVal = $("#row" + i).val();
            var nextColVal = $("#col" + i).val();
            $("tr[id=\'" + i + "\']")
                .replaceWith("<tr id=" + (i - 1) + ">"
                    + "<td><input type='text' name='section" + (i - 1) + "' value='" + nextSectionVal + "' id='section" + (i - 1) + "'/></td>"
                    + "<td><input type='text' name='row" + (i - 1) + "' value='" + nextRowVal + "' id='row" + (i - 1) + "'/></td>"
                    + "<td><input type='text' name='col" + (i - 1) + "' value='" + nextColVal + "' id='col" + (i - 1) + "'/></td>"
                    + "<td><a href=\'#\' onclick=\'deltr(" + (i - 1) + ")\'>删除</a></td>"
                    + "</tr>");
        }

    }


    function submitSeats(venueId) {
        var resetTable = document.getElementById("resetSeatTable");
        var seatInfoList = new Array();

        for (var i = 1; i < resetTable.rows.length; i++) {
            var section = resetTable.rows[i].cells[0].getElementsByTagName("input")[0].value;
            var row = resetTable.rows[i].cells[1].getElementsByTagName("input")[0].value;
            var col = resetTable.rows[i].cells[2].getElementsByTagName("input")[0].value;

            seatInfoList.push({venueId: venueId, section: section, row: row, col: col})
        }

        $.ajax({
            type: 'POST',
            url: '/venue/modifySeats.action',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(seatInfoList),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success(data.resultMessage)
                    // for (var i = 0; i < seatInfoList.length; i++) {
                    //     $("#showSeatsTable").append("<tr>"
                    //         + "<td>" + seatInfoList[i].section + "</td>"
                    //         + "<td>" + seatInfoList[i].row + "</td>"
                    //         + "<td>" + seatInfoList[i].col + "</td>"
                    //         + "</tr>");
                    // }
                    $("#resetSeatsModal").modal('hide')
                }
            }
        })
    }
</script>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>