<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>选座购买</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/jquery.seat-charts.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/css/toastr.css}"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/jquery.spinner.min.js}"></script>
    <script th:src="@{~/js/jquery.seat-charts.min.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>

<body>

<div th:replace="common/nav :: nav"></div>

<div class="container" style="text-align: center">
    <div style="padding-top: 6%">
        <h1>Tickets<br/>
            <small>选座购买</small>
        </h1>

        <div style="margin-left: 20%;margin-right: 20%;padding-top: 2%">
            <hr color="#5bc0de"/>

            <h3 style="margin-top: 6%" th:text="${curShowBrief.showName}"><br/></h3>

            <br/>

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" style="width: 50%"><a href="#chooseSeats"
                                                                                 aria-controls="chooseSeats" role="tab"
                                                                                 data-toggle="tab">选座购买</a></li>
                    <li role="presentation" style="width: 50%"><a href="#allocateSeats" aria-controls="allocateSeats"
                                                                  role="tab" data-toggle="tab">立即购买</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- 选座 -->
                    <div role="tabpanel" class="tab-pane active" id="chooseSeats">
                        <form style="margin-left: 12%;margin-right: 12%;margin-top: 5%" class="form-horizontal">
                            <div class="form-group">
                                <label>座位购买须知</label>
                                <br/>
                                <div style="text-align: left">
                                    <p>每单限购票6张，且只允许购买同价票，购票后请在15分钟内付款，否则将取消您的选座</p>
                                    <p>购票后不能单独修改座位，可在「我的订单」中申请退款重新进行选座</p>
                                </div>
                            </div>

                            <!-- Button trigger modal -->


                            <!-- Modal -->
                            <div class="modal fade" id="seat-chart" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                            <!--<span aria-hidden="true">&times;</span></button>-->
                                            <h4 class="modal-title" id="myModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="seat-map" style="margin-left: 120px;margin-top: 20px"></div>
                                            <div id="legend-container"
                                                 style="margin-left: 220px;margin-right: 220px"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="confirmChosenButton" type="button" class="btn btn-primary">确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>座位价格</label>
                                <br/>

                                <div class="btn-group" data-toggle="buttons">
                                    <div class="btn btn-default"
                                         th:each="chooseSeatBean : ${chooseSeatBean.sectionSeat}"
                                         th:onclick="'javascript:clickRadio(this,'+${chooseSeatBeanStat.index}+')'"
                                         th:id="'outerId'+${chooseSeatBeanStat.index}">
                                        <input type="radio" name="chosenSeatsPrice"
                                               th:id="'seatPrice'+${chooseSeatBeanStat.index}"
                                               autocomplete="off" th:value="${chooseSeatBean.key}"
                                               th:text="${chooseSeatBean.key}"/>
                                        <input th:id="'hidden'+${chooseSeatBeanStat.index}"
                                               type="hidden"
                                               th:value="${chooseSeatBean.value}"
                                               name="chosenSeatsArrangment"
                                        />
                                    </div>
                                </div>
                            </div>

                            <br/>

                            <div class="form-group">
                                <label>已选座位</label>
                                <div id="chosenSection"></div>
                                <div id="chosenSeats"></div>
                            </div>

                            <div class="form-group">
                                <label>可用优惠</label>
                                <br>
                                <label class="radio" th:each="couponBriefInfoBean:${couponBriefInfoBeans}">
                                    <input type="radio" name="chooseDiscount"
                                           th:id="'chooseDiscountId'+${couponBriefInfoBean.userCouponId}"
                                           th:value="${couponBriefInfoBean.discount}"
                                           th:text="${couponBriefInfoBean.couponName}"/>
                                </label>
                            </div>

                            <div class="form-group" style="font-size: larger">
                                <label>当前总价: </label>
                                ¥ <span id="chosenTotal">0</span>
                            </div>


                            <a role="button" class="btn btn-success" style="margin-top: 2%"
                               th:onclick="'javascript:submitSeats('+${curShowBrief.id}+')'">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认选座&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="allocateSeats">
                        <form style="margin-left: 17%;margin-right: 17%;margin-top: 5%" class="form-horizontal">
                            <div class="form-group">
                                <label>座位分配须知</label>
                                <br/>
                                <div style="text-align: left">
                                    <p>每单限购同价位票20张，演出前2周开票，座位安排请在「我的订单」中查看</p>
                                    <p>按照购票时间顺序依次配票，若最终余票不能满足您的购票需求，工作人员将与您联系，您可以选择部分退票或全部退票</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>座位价格</label>
                                <br/>
                                <label class="radio-inline" th:each="chooseSeatBean : ${chooseSeatBean.sectionSeat}">
                                    <input type="radio" name="immediateSeatPrice"
                                           th:id="'immediateSeatPrice'+${chooseSeatBeanStat.index}"
                                           th:value="${chooseSeatBean.key}" th:text="${chooseSeatBean.key}"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="spinner">购买数量</label>
                                <br/>
                                <div data-trigger="spinner" id="spinner">
                                    <a data-spin="down" id="decreaseSeatsNum"><strong>-</strong></a>
                                    <input type="text" value="1" data-rule="quantity" style="text-align: center"
                                           data-min="1" data-max="20" id="seatsNum" readonly="readonly">
                                    <a data-spin="up" id="increaseSeatsNum">+</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>已选区域</label>
                                <div id="immediateChosenSection"></div>
                            </div>

                            <div class="form-group">
                                <label>可用优惠</label>
                                <br>
                                <label class="radio" th:each="couponBriefInfoBean:${couponBriefInfoBeans}">
                                    <input type="radio" name="immediateDiscount"
                                           th:id="'immediateDiscountId'+${couponBriefInfoBean.userCouponId}"
                                           th:value="${couponBriefInfoBean.discount}"
                                           th:text="${couponBriefInfoBean.couponName}"/>
                                </label>
                            </div>
                            <br/>
                            <div class="form-group" style="font-size: larger">
                                <label>当前总价: </label>
                                ¥ <span id="currentTotal">0</span>
                            </div>


                            <a role="button" class="btn btn-success" style="margin-top: 2%" th:onclick="'javascript:submitImmediateSeats('+${curShowBrief.id}+')'">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认选座&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                        </form>
                    </div>
                </div>

            </div>
            <hr style="margin-top: 6%"/>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).on('hidden.bs.modal', function (e) {
        $(e.target).removeData('bs.modal');
    });

    var sc;

    function setModalContent(price, content, columns, rows) {
        document.getElementById("myModalLabel").innerHTML = '座位表 - 票价' + price + '元'
        $('#seat-chart').modal('show')
        var chosenCount = 0;


        sc = $('#seat-map').seatCharts({
            map: content,
            naming: {
                top: true,
                left: true,
                columns: columns,
                rows: rows
            },
            seats: {
                a: {},
                b: {},
                c: {}
            },
            legend: {
                items: [
                    ['a', 'available', '可选'],
                    ['b', 'selected', '已选'],
                    ['c', 'unavailable', '不可选']
                ]
            },
            click: function () {
                if (this.status() == 'available') {
                    console.log(chosenCount)
                    if (chosenCount === 6) {
                        return this.style();
                    }
                    //do some stuff, i.e. add to the cart
                    chosenCount += 1
                    return 'selected';
                } else if (this.status() == 'selected') {
                    chosenCount -= 1;
                    //seat has been vacated
                    return 'available';
                } else if (this.status() == 'unavailable') {
                    //seat has been already booked
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        })

        sc.find('c').status('unavailable');

        $('#confirmChosenButton').on('click', function () {
            seats = sc.find('selected').seatIds
            var output = ''
            for (j = 0, len = seats.length; j < len; j++) {
                splited = seats[j].split('_')
                output += (splited[0] + '排' + splited[1] + '座')
                if (j != len - 1) {
                    output += ', '
                }
            }
            document.getElementById('chosenSeats').innerText = output
            $('#seat-chart').modal('hide');
            $('.seatCharts-row').remove();
            $('.seatCharts-legendItem').remove();
            $('#seat-map,#seat-map *').unbind().removeData();

            var chosenPrice = parseFloat($("input[name='chosenSeatsPrice']:checked").val())
            var totalPrice = chosenPrice * seats.length
            $('#chosenTotal').text(totalPrice)
        });
    }

    $("input[name='chooseDiscount']").change(function () {
        var chosenDiscount = $("input[name='chooseDiscount']:checked").val()
        seats = sc.find('selected').seatIds
        var chosenPrice = parseFloat($("input[name='chosenSeatsPrice']:checked").val())
        console.log(chosenPrice)
        var totalPrice = chosenPrice * seats.length
        console.log(isNaN(chosenPrice))

        if (isNaN(chosenPrice)) {
            $('#chosenTotal').text(0)
        } else {
            if (chosenDiscount !== undefined) {
                var discount = parseFloat(chosenDiscount)

                totalPrice = discount * totalPrice;
                $('#chosenTotal').text(totalPrice.toFixed(2))
            }
        }
    });

    function clickRadio(obj, index) {
        var priceSection = [[${chooseSeatBean.priceSection}]]
        $("#chosenSection").text(priceSection[index])

        var price = $("#" + obj.id + " input[name='chosenSeatsPrice']").val()

        var content = $("#" + obj.id + " input[name='chosenSeatsArrangment']").val()
        var contentArray = content.substring(1, content.length - 1).replace(/\s+/g, "").split(',')
        var rows = []
        for (var j = 0; j < contentArray.length; j++) {
            rows.push('' + (j + 1))
        }

        var cols = []
        for (var j = 0; j < contentArray[0].length; j++) {
            cols.push('' + (j + 1))
        }

        setModalContent(price, contentArray, cols, rows)
    }
</script>

<script th:inline="javascript">
    $("input[name='immediateSeatPrice']").click(function () {
        var priceSection = [[${chooseSeatBean.priceSection}]]
        $("#immediateChosenSection").text(priceSection[$(this).attr('id').split("immediateSeatPrice")[1]])

        var seatsPrice = parseFloat($(this).val())
        var seatsNum = parseInt($("#seatsNum").val())
        var totalPrice = seatsPrice * seatsNum
        $("#currentTotal").text(totalPrice)
    })

    $("#spinner")
        .spinner('delay', 200) //delay in ms
        .spinner('changing', function (e, newVal, oldVal) {
            var chosenDiscount = $("input[name='immediateDiscount']:checked").val()
            var seatsPrice = parseFloat($("input[name='immediateSeatPrice']:checked").val())
            var seatsNum = newVal
            var totalPrice = seatsPrice * seatsNum

            if (chosenDiscount !== undefined) {
                var discount = parseFloat(chosenDiscount)
                totalPrice *= discount;
                $('#currentTotal').text(Math.round(totalPrice * 100) / 100)
            }
            $("#currentTotal").text(totalPrice)

        });

    $("input[name='immediateDiscount']").change(function () {
        var chosenDiscount = $("input[name='immediateDiscount']:checked").val()
        var chosenPrice = parseFloat($("input[name='immediateSeatPrice']:checked").val())
        var chosenNum = parseInt($("#seatsNum").val())
        var totalPrice = chosenPrice * chosenNum
        console.log(isNaN(chosenPrice))

        if (isNaN(chosenPrice)) {
            $('#currentTotal').text(0)
        } else {
            if (chosenDiscount !== undefined) {
                var discount = parseFloat(chosenDiscount)

                totalPrice = discount * totalPrice;
                $('#currentTotal').text(Math.round(totalPrice * 100) / 100)
            }
        }
    })
</script>

<script th:inline="javascript">
    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "3000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    function submitSeats(showPlanId) {
        $.ajax({
            url: '/user/createOrder.action',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                showPlanId: showPlanId,
                totalPrice: $("#chosenTotal").text(),
                seatNum: 0,
                chosenSeats: $("#chosenSeats").text(),
                ticketOrderType: '选座购买',
                userCouponId: $("input[name='chooseDiscount']:checked").attr('id')===undefined?'':$("input[name='chooseDiscount']:checked").attr('id').split('chooseDiscountId')[1],
                section: $("#chosenSection").text()
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success('下单成功')
                    window.location.href = '/user/paying?orderId=' + data.resultMessage
                }
            }
        })
    }

    function submitImmediateSeats(showPlanId) {
        $.ajax({
            url: '/user/createOrder.action',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                showPlanId: showPlanId,
                totalPrice: $("#currentTotal").text(),
                seatNum: $("#seatsNum").val(),
                chosenSeats: '',
                ticketOrderType: '立即购买',
                userCouponId: $("input[name='immediateDiscount']:checked").attr('id')===undefined?'':$("input[name='immediateDiscount']:checked").attr('id').split('immediateDiscountId')[1],
                section: $("#immediateChosenSection").text()
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    toastr.success('下单成功')
                    window.location.href = '/user/paying?orderId=' + data.resultMessage
                }
            }
        })
    }
</script>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>