<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>我的订单</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="common/nav :: nav"></div>

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#allOrders" aria-controls="allOrders" role="tab"
                                                  data-toggle="tab">全部订单</a></li>
        <li role="presentation"><a href="#unpaid" aria-controls="unpaid" role="tab" data-toggle="tab">未支付订单</a></li>
        <li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">已付款订单</a></li>
        <li role="presentation"><a href="#invalid" aria-controls="invalid" role="tab" data-toggle="tab">已失效订单</a></li>
        <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">已结束订单</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="allOrders">
            <div th:each="order: ${userOrdersBean.allOrders}" style="margin-top: 2%" th:class="'panel '+${order.styleStr}">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        th:text="'订单号：'+${order.ticketNumber}+'&nbsp;&nbsp;&nbsp;状态：'+${order.orderStatus}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${order.posterUrl}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-sm-7" style="margin-left: 1%">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <h2 class="col-sm-12" th:text="${order.showName}"></h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">开始时间</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.startTime}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">演出地点</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.address}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${order.showSeats}">
                                    <label class="col-sm-2">座位安排</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.seats}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:unless="${order.showSeats}">
                                    <label class="col-sm-2">失效原因</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.invalidReason}"></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-2" style="margin-left: 5%">
                            <div style="text-align: center">
                                <a class="btn btn-info" th:href="@{'/user/orderDetail?orderId='+${order.orderId}}" style="margin-top: 45%">查看订单详情</a>
                                <a class="btn btn-info" th:href="@{'/user/event/detail?id='+${order.showPlanId}}" style="margin-top: 15%">查看演出详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="unpaid">
            <div th:each="order: ${userOrdersBean.unpaidOrders}" style="margin-top: 2%" th:class="'panel '+${order.styleStr}">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        th:text="'订单号：'+${order.ticketNumber}+'&nbsp;&nbsp;&nbsp;状态：'+${order.orderStatus}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${order.posterUrl}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-sm-7" style="margin-left: 1%">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <h2 class="col-sm-12" th:text="${order.showName}"></h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">开始时间</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.startTime}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">演出地点</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.address}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${order.showSeats}">
                                    <label class="col-sm-2">座位安排</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.seats}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:unless="${order.showSeats}">
                                    <label class="col-sm-2">失效原因</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.invalidReason}"></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-2" style="margin-left: 5%">
                            <div style="text-align: center">
                                <a class="btn btn-info" href="orderDetail.html" style="margin-top: 45%">查看订单详情</a>
                                <a class="btn btn-info" href="eventDetail.html" style="margin-top: 15%">查看演出详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="paid">
            <div th:each="order: ${userOrdersBean.paidOrders}" style="margin-top: 2%" th:class="'panel '+${order.styleStr}">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        th:text="'订单号：'+${order.ticketNumber}+'&nbsp;&nbsp;&nbsp;状态：'+${order.orderStatus}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${order.posterUrl}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-sm-7" style="margin-left: 1%">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <h2 class="col-sm-12" th:text="${order.showName}"></h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">开始时间</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.startTime}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">演出地点</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.address}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${order.showSeats}">
                                    <label class="col-sm-2">座位安排</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.seats}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:unless="${order.showSeats}">
                                    <label class="col-sm-2">失效原因</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.invalidReason}"></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-2" style="margin-left: 5%">
                            <div style="text-align: center">
                                <a class="btn btn-info" href="orderDetail.html" style="margin-top: 45%">查看订单详情</a>
                                <a class="btn btn-info" href="eventDetail.html" style="margin-top: 15%">查看演出详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="invalid">
            <div th:each="order: ${userOrdersBean.invalidOrders}" style="margin-top: 2%" th:class="'panel '+${order.styleStr}">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        th:text="'订单号：'+${order.ticketNumber}+'&nbsp;&nbsp;&nbsp;状态：'+${order.orderStatus}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${order.posterUrl}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-sm-7" style="margin-left: 1%">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <h2 class="col-sm-12" th:text="${order.showName}"></h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">开始时间</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.startTime}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">演出地点</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.address}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${order.showSeats}">
                                    <label class="col-sm-2">座位安排</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.seats}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:unless="${order.showSeats}">
                                    <label class="col-sm-2">失效原因</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.invalidReason}"></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-2" style="margin-left: 5%">
                            <div style="text-align: center">
                                <a class="btn btn-info" href="orderDetail.html" style="margin-top: 45%">查看订单详情</a>
                                <a class="btn btn-info" href="eventDetail.html" style="margin-top: 15%">查看演出详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="completed">
            <div th:each="order: ${userOrdersBean.completedOrders}" style="margin-top: 2%" th:class="'panel '+${order.styleStr}">
                <div class="panel-heading">
                    <h3 class="panel-title"
                        th:text="'订单号：'+${order.ticketNumber}+'&nbsp;&nbsp;&nbsp;状态：'+${order.orderStatus}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${order.posterUrl}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-sm-7" style="margin-left: 1%">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <h2 class="col-sm-12" th:text="${order.showName}"></h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">开始时间</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.startTime}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">演出地点</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.address}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${order.showSeats}">
                                    <label class="col-sm-2">座位安排</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.seats}"></p>
                                    </div>
                                </div>
                                <div class="form-group" th:unless="${order.showSeats}">
                                    <label class="col-sm-2">失效原因</label>
                                    <div class="col-sm-10">
                                        <p th:text="${order.invalidReason}"></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-2" style="margin-left: 5%">
                            <div style="text-align: center">
                                <a class="btn btn-info" href="orderDetail.html" style="margin-top: 45%">查看订单详情</a>
                                <a class="btn btn-info" href="eventDetail.html" style="margin-top: 15%">查看演出详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>

</body>
</html>