<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>订单支付</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="common/nav :: nav"></div>

<div class="container" style="text-align: center;">
    <div style="padding-top: 6%">
        <h1>Tickets<br/>
            <small>完成支付</small>
        </h1>

        <div style="margin-left: 20%;margin-right: 20%;padding-top: 2%">
            <hr color="#5bc0de"/>

            <h3 style="margin-top: 6%" th:text="'订单&nbsp;'+${payingBean.orderNumber}"><br/><br/></h3>

            <h4>您共需要支付&nbsp;<strong th:text="'¥ '+${payingBean.orderPrice}"></strong><br/>
                <small>输入支付账号与密码来完成支付</small>
            </h4>

            <br>
            <h4 style="color: #ab4242" id="countDown"></h4>
            <br/>

            <form style="margin-left: 25%;margin-right: 25%" id="payForm">
                <div class="form-group">
                    <label for="inputBankAccount">银行账户</label>
                    <input type="email" class="form-control" id="inputBankAccount" placeholder="银行账户"/>
                </div>
                <div class="form-group">
                    <label for="inputBankPassword">支付密码</label>
                    <input type="password" class="form-control" id="inputBankPassword" placeholder="密码"/>
                </div>
                <a role="button" class="btn btn-success" style="margin-top: 2%"
                   th:onclick="'javascript:postPayAccount('+${payingBean.orderId}+')'">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认支付&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            </form>
            <hr style="margin-top: 6%"/>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function refreshTime() {
        var orderTime = [[${payingBean.orderTime}]]
        var createTime = new Date(orderTime).getTime()
        var stopTime = createTime + (15 * 60 * 1000)
        var now = Date.now()

        var seconds = (stopTime - now) / 1000
        var minutes = parseInt(seconds / 60)
        var leftSeconds = parseInt(seconds - (minutes * 60))
        if (seconds <= 0 || (minutes === 0 && leftSeconds === 0)) {
            $("#payForm").css('display', 'none')
            $("#countDown").html("您的订单已失效，无法进行支付")
        } else if (minutes === 0 && leftSeconds !== 0) {
            $("#countDown").html(leftSeconds + '秒')
        } else {
            $("#countDown").html('您的订单将在 ' + minutes + '分' + leftSeconds + '秒 后失效')
        }
    }

    setInterval("refreshTime()", 1000)

    function postPayAccount(orderId) {
        $.ajax({
            url: '/user/pay.action',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                bankAccount: $("#inputBankAccount").val(),
                password: $("#inputBankPassword").val(),
                orderId: orderId
            }),
            success: function (data) {
                if (data.resultCode === 'error') {
                    toastr.warning(data.resultMessage)
                } else {
                    window.location.href = '/user/orders'
                }
            }
        })
    }

</script>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>