<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登录</title>

    <link th:href="@{~/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="common/nav :: nav"></div>

<div class="container" style="text-align: center;">
    <div style="padding-top: 6%">
        <h1>Tickets<br></br>
            <small>登录您的账户来快速订票</small>
        </h1>
        <div style="margin-left: 30%;margin-right: 30%;padding-top: 3%">
            <form role="form" th:action="@{/login}" action="/login" method="post">
                <div class="form-group">
                    <label for="inputUsername">用户名</label>
                    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="用户名"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword">密码</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="密码"/>
                </div>

                <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">用户名或密码错误！请重试！</div>

                <button type="submit" class="btn btn-info" style="margin-top: 5%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
        </div>

        <div style="margin-left: 20%;margin-right: 20%;padding-top: 2%">
            <hr color="#5bc0de"/>

            <h4 style="margin-top: 6%">还没有账户？<br></br>
                <small>点击下面的按钮快速注册</small>
            </h4>
            <a role="button" class="btn btn-default" style="margin-top: 2%" href="signUp.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;前往注册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

            <hr style="margin-top: 6%"/>
        </div>
    </div>
</div>

<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>