<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>订单支付</title>

    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="common/nav :: nav"></div>

<div class="container" style="text-align: center;">
    <div style="padding-top: 6%">
        <h1>Tickets<br/>
            <small>完成支付</small>
        </h1>

        <!--<div style="margin-left: 30%;margin-right: 30%;padding-top: 3%">-->
        <!--<form>-->
        <!--<div class="form-group">-->
        <!--<label for="inputEmail">Email</label>-->
        <!--<input type="email" class="form-control" id="inputEmail" placeholder="Email">-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="inputPassword">密码</label>-->
        <!--<input type="password" class="form-control" id="inputPassword" placeholder="密码">-->
        <!--</div>-->

        <!--<div class="checkbox" style="padding-top: 2%">-->
        <!--<label>-->
        <!--<input type="checkbox">记住我-->
        <!--</label>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-info" style="margin-top: 5%">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp登录&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>-->
        <!--</form>-->
        <!--</div>-->

        <div style="margin-left: 20%;margin-right: 20%;padding-top: 2%">
            <hr color="#5bc0de"/>

            <h3 style="margin-top: 6%">订单&nbsp;0203938040<br/><br/></h3>

            <h4>您共需要支付&nbsp;<strong>¥ 3200</strong><br/>
                <small>输入支付账号与密码来完成支付</small>
            </h4>
            <br/>

            <form style="margin-left: 25%;margin-right: 25%">
                <div class="form-group">
                    <label for="inputBankAccount">银行账户</label>
                    <input type="email" class="form-control" id="inputBankAccount" placeholder="银行账户"/>
                </div>
                <div class="form-group">
                    <label for="inputBankPassword">支付密码</label>
                    <input type="password" class="form-control" id="inputBankPassword" placeholder="密码"/>
                </div>
                <a role="button" class="btn btn-success" style="margin-top: 2%">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确认支付&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            </form>
            <hr style="margin-top: 6%"/>
        </div>
    </div>
</div>


<footer class="panel-footer">
    <div class="container" style="text-align: center">
        © 2018 | Created by <a href="https://atlas-zqh.github.io/">Keenan</a>. All rights reserved. | Content by <a
            href="http://www.douban.com/location/">豆瓣同城</a>
    </div>
</footer>
</body>
</html>